#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use network installation media
url --url="ftp://192.168.70.20/pub/centos7"
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=ens33 --onboot=off --ipv6=auto --no-activate
network  --hostname=localhost.localdomain

# Root password
rootpw --iscrypted $6$PVsXDtGwAPRuGf3J$D0MGYwnSl7AaWkiktOl2ofv43iIb13gQJAquFq5T5DLmAzyzbGMfsfSPg62PMoQ8r0oH7BDS1NNEL/mLM7DpW/
# System services
services --disabled="chronyd"
# System timezone
timezone Asia/Bangkok --isUtc --nontp
user --name=passakj7 --password=$6$kFNKrxME8OF.Ov6c$CEMnz6VOLhSJbSw6Hoof5LIF9pMtgz.rWvvxr71GPFlz1CfUN0vEuyvwZBDqtPUsGfLHvKa5MSPKy/48LUB9Z/ --iscrypted --gecos="passakj7"
# X Window System configuration information
xconfig  --startxonboot
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --all --initlabel --drives=sda

%packages
@^gnome-desktop-environment
@base
@core
@desktop-debugging
@dial-up
@directory-client
@fonts
@gnome-desktop
@guest-agents
@guest-desktop-agents
@input-methods
@internet-browser
@java-platform
@multimedia
@network-file-system-client
@networkmanager-submodules
@print-client
@x11
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
