#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use network installation
url --url="ftp://192.168.70.20/pub/centos7/"
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=ens33 --ipv6=auto --activate
network  --hostname=localhost.localdomain

# Root password
rootpw --iscrypted $6$iVw18wPzWIgksOsN$8C498qOpIY4z6eavJQAw5Wpb4TMe9ImwLUl91S2Sq72hwan41dZU0sy67qArBAVplCbhLjbDfxIL3g55DRLSh0
# System services
services --enabled="chronyd"
# System timezone
timezone America/New_York --isUtc
user --name=sysreport --password=$6$vLjnpUS8GPKOsMVr$yESI.lqS.6GWu1y9bnaX10nnaC1nK8vkJF79PkKKxybCTxAiG0ce13CaGuYv12m9meGB2Z.37ucsZjrbaVcVm1 --iscrypted --gecos="sysreport"
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --all --initlabel --drives=sda

%packages
@^minimal
@core
chrony
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
